/**
 * @file
 * Positioning, sizing, and spacing of page elements. A responsive layout.

 */

@mixin page-max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: $page_max_width;
  padding-left: $gutter-site;
  padding-right: $gutter-site;
  box-sizing: content-box;
}
@mixin page-max-width-remove {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}
// @deprecated
@mixin undo-page-max-width {
  @include page-max-width-remove;
}
.view.page-max-width,
.block.page-max-width > [role="presentation"] {
  @include page-max-width;
}
.block-page-title-block,
.paragraph.page-max-width,
.block.page-max-width,
.block-social-media {
  & > [role="presentation"] {
    @include page-max-width;
  }
}
.paragraph.page-max-width.text-width,
.block.page-max-width.text-width {
  & > [role="presentation"] {
    max-width: 28em;
  }
}

.view.page-max-width,
.block-system-main-block > [role="presentation"] > .views-element-container > .view {
  @include page-max-width;
}
.block-system-main-block .view.full-width {
  max-width: 100%;
}

header[role="banner"] > [role="presentation"],
main nav.tabs,
.pre_footer > [role="presentation"],
footer[role="contentinfo"] > [role="presentation"], {
  @include page-max-width;
}

main nav.tabs {
  max-width: $text-max-width;
}

main {
  padding-bottom: 0;
}


main .block,
aside .block {
  // margin-bottom: 1em;
}

main .region {
  @include group; // Needed because some blocks are floated.
}



// Sticky footer
.dialog-off-canvas-main-canvas {
  height: 100%;
}
.layout-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  main  {
    flex-grow: 1;
  }
}

.layout-builder-block {
  border: dashed 2px gray !important;
  padding: 2px !important;
  background-clip: content-box !important;
  margin: 4px !important;
}
.block.margin-bottom {
  margin-bottom: 4vw;
}



/* -----------------------------------------------------------------------------
                                                Sizes and layouts
  These are mostly used by blocks.
*/
// Block class that allows the block to use the full screen width
main .full-width {
  & > [role="presentation"] {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

// Block class that allows the block to use the full screen width
main .half-width {
  width: 50%;
  float: left;

  & > [role="presentation"] {
    max-width: $page_max_width / 2;
    margin-right: 0;
  }
}
main .half-width + div {
  width: 50%;
  float: right;

  & > [role="presentation"] {
    max-width: $page_max_width / 2;
    margin-left: 0;
  }
}