/* -----------------------------------------------------------------------------
                                                Home page
*/
body.path-frontpage,
[about="/home-paragraphs"] {
  main .block {
    margin-bottom: 0;
  }
  main {
    padding-bottom: 0;
  }
  h2 {
    color: #1c1c1c;
    margin-bottom: 1.4em;
    margin-top: 2.4em;
  }
  main .block-carousel {

    & > [role="presentation"] {
      max-width: 100%;
      padding: 0;
    }
  }
}
.block[id*="featuredevent"] {
  text-align: center;
  margin-top: -3em;
  background: $colour-dark-grey;
  // Add padding at the top so the red block can pull itself up
  padding-top: 1px;

  & > [role="presentation"] {
    max-width: 1000px;
    margin: -60px auto 0;
    border-radius: 6px;
    background: $colour-red;

    .button.primary {
      color: $colour-red;
    }
  }

  .button {
    background: transparent;
    border: solid white 1px;
    color: white;
    width: 12em;
    font-size: 1em;

    &.primary {
      background: white;
    }
  }

  .event,
  .sponsors {
    padding: 2em 8%;
    color: white;
  }
  .event {
    padding: 4em 8%;
    h2 {
      float: left;
      margin-top: 0;
    }
    .info {
      float: right;
      margin-top: 0;
    }
    .tagline {
      clear: both;
      font-style: italic;
      font-size: 1.3em;
      opacity: 0.8;
    }
  }
  .sponsors {
    background: $colour-text;

    p:first-child {
      margin-top: 0;
      font-style: italic;
      font-size: 1.1em;
      opacity: 0.8;
    }
    img {
      width: 145px;
      // height: 90px;
      border-radius: $corner_radius-small;
      display: inline-block;
      background: lightgrey;
    }
  }
}
[id="block-views-block-topics-cloud"] {
  max-width: $text-max-width;
  margin-left: auto;
  margin-right: auto;
}



/* -----------------------------------------------------------------------------
                                                Contact page
*/
.path-contact {}



/* -----------------------------------------------------------------------------
                                                User pages (login / password reset / etc.)
 */
body.path-user {
  .block-system-main-block form {
    @include page-max-width;
    max-width: 40rem;
  }
}



/* -----------------------------------------------------------------------------
                                                Views
 */
.view-sponsors {
  h2 {
    // clear: both;
    // border-bottom: solid 1px red;
    // padding-bottom: 0.2em;
    // margin-top: 1.7em;
    font-weight: 600;
  }
  .results-group {
    @include group;
  }
  .results-group:nth-of-type(1) {
    font-size: 1.2em;

    .views-field-field-image {
      float: left;
      margin-right: 4em;
    }
    h3 {
      clear: none;
      font-size: 1.8em;
      padding-top: 2em;
      margin-top: 0;
    }
  }
  .results-group:nth-of-type(2) {
    @include cols-unknown;
    h3 {
      font-size: 1.2em;
    }
  }
  .results-group:nth-of-type(3) {
    @include cols-6;
    .views-row {
      font-size: 0.75em;
    }
    h3 {
      font-size: 1.2em;
    }
  }
}



/* -----------------------------------------------------------------------------
                                                Other Views
 */
.view-team,
.view-speakers,
.view-performers,
.view-videos {
  .results-group {
    @include cols-4;
  }
}



/* -----------------------------------------------------------------------------
                                                Event Sponsors block view
 */
#block-views-block-event-sponsors {
  .view-content {
    li {
      text-align: center;
    }
    & > div > h3 {
      font-size: 1.7em;
      border-bottom: solid 1px $colour-red;
      margin: 2em 0 1em;
      padding-bottom: 0.3em;
      text-transform: uppercase;
    }
    .views-field-field-sponsorship-type {
      font-size: 0.8em;
      line-height: 1.2;
      font-weight: bold;
      margin-top: 0.5em;
    }
  }
}



/* -----------------------------------------------------------------------------
                                                Mailchimp signup form
 */
.newsletter-signup {
  background: $colour-light-grey;

  .indicates-required {
    display: none;
  }
  .mc-field-group {
    vertical-align: top;
  }
  div.mce_inline_error {
    font-size: 0.6em;
  }
  form > div {
    align-items: end;

    @media all and (min-width: 700px) {
        display: flex;
    }

    & > * {
      flex: 1 1 auto;

      &:not(:first-child) {
        @media all and (min-width: 700px) {
          margin-left: 40px;
        }
      }
    }
  }
  input {
    width: 100%;
  }
}



/* -----------------------------------------------------------------------------
                                                Search block
 */
.search-block-form {
  position: relative;
  width: 20em;
  max-width: 100%;

  &::after {
    font-family: "Material Icons";
    content: "\e8b6";
    position: absolute;
    font-size: 22px;
    right: 0.3em;
    top: 50%;
    transform: translateY(-50%);
  }
  [type="search"] {
    width: 100%;
    color: white;
    padding: 0.7em 0.8em;
    font-size: 1em;
    border: none;
  }
  [type="submit"] {
    @include visually-hidden;
  }
}