/**
 * @file Regions
 */



/* -----------------------------------------------------------------------------
                                                Header
 */
header[role="banner"] {
  border-bottom: $colour-red 2px solid;
  @include black;
  height: 90px;

  div[role="presentation"] {
    margin: 0px auto;
    padding-top: 0;
    padding-bottom: 0em;
    max-width: $page_max_width;
  }

  h1 {
    font-size: 1.7em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
  }

  img {
    max-height: 4em;
  }

  .block {
    display: flex;
  }
}
.region-pre-header {
  float: right;
  // width: calc(50% - 100px);
  // background: #363636;
  border-bottom: solid 1px #363636;
  height: 35px;
  font-size: 0.9em;
  position: relative;
  display: none;
  margin-right: 50px;
  justify-content: space-between;

  @media all and (min-width: $primary-menu-breakpoint) {
    display: flex;
  }
  @media all and (min-width: 1350px) {
    margin-right: 0;
  }

  .block {
    flex: 1 1 auto;
    position: relative;
    z-index: 1;
    display: block;
  }
  .block-menu {
    h2 {
      display: none;
    }
    .menu {
      display: flex;

      li {
        flex: 0 1 auto;
      }
    }

    &.menu--social {
      flex: 0 1 auto;
    }
  }

  // // Triangles
  // &::before,
  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;

  //   // Grey triangle
  //   border-width: 35px 50px 0 50px;
  //   border-style: solid;
  //   border-color: rgb(54, 54, 54) transparent;
  // }
  // &::before {
  //   left: -50px;
  // }
  // &::after {
  //   right: -50px;
  //   // border-width: 35px 50px 0 50px;
  // }
}

.region-header {
  // @include display-flex;
  // @include justify-content('justify');
  // max-width: $page_max_width;
  margin: 0 auto;

  @media all and (max-width: $primary-menu-breakpoint) {
    display: flex;
    justify-content: space-between;
  }

  & > * {
    flex: 0 1 auto;
  }
  .block-menu {
    clear: right;
    float: right;
  }
}
.region .block[id="block-phonemenubutton"] {
  display: flex;
  align-items: center;
  
  @media all and (min-width: $primary-menu-breakpoint) {
    display: none;
  }
  button {
    background: none;
  }
}
// button#show-menu {
//   float: right;
//   background: none;
//   border-radius: 0;
//   box-shadow: none;

//   &:hover,
//   &:focus {
//     color: lighten($colour-red, 50%);
//   }
//   &:active {
//     box-shadow: none;
//   }

//   @media all and (min-width: $primary-menu-breakpoint) {
//     display: none;
//   }
// }

.block-system-branding-block {
  float: left;
}
.site-logo { // Logo block
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 5vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 90px;

  p {
    margin: 0;
  }
  img {
    z-index: 50;
    position: relative;
    background: white;
    box-shadow: 0 0 0.3em rgba(black, 0.34);
    max-width: 100%;
    max-height: 54px;
    margin-bottom: -1em;
  }
}
.site-logo + .site-name {
  display: none;
}

.block {
  &.featured {
    padding-top: 7em;
    padding-bottom: 4em;
  }
}

#block-txn-main-menu {
  @include display-flex;
  @include align-items(center);

  @media all and (max-width: $primary-menu-breakpoint) {
    position: absolute;
    right: 0;
    height: 100vh;
    top: $nav-height;
    width: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
    // background-color: red; // for dev

    &.visible {
      width: 300px;
    }
  }

  & > .menu {
    @include black;

    li > span {
      display: flex !important;

      // & > * {
      //   flex: 1;
      // }

      & > a,
      & > button,
      & > span {
        padding-top: 0;
        padding-bottom: 0;
        height: 55px;
        vertical-align: middle;
        align-content: center;
        align-items: center;
      }
      & > a,
      & > span {
        flex: 1 1 auto;
        display: flex;
      }
      & > button {
        flex: 0 0 auto;
      }
    }
    li ul {
      @include menu-vertical;
      right: 0;
    }



    margin: 0;
    display: inline-block;

    @media all and (min-width: $primary-menu-breakpoint) {
      @include menu-horizontal;
      // right: 0;
      // height: $header-height;
      // width: 100%;
      // display: flex;
      // align-items: center;
      // z-index: 100;


      // & > * {
      //   flex: 1;
      // }
    }
    // Phone menu
    @media all and (max-width: $primary-menu-breakpoint) {
      position: absolute;
      z-index: 100;
      width: 300px;
      right: -300px;
      top: 0;
      // right: 0;
      transition: all 0.3s ease;
    }
  }

  @media all and (max-width: $primary-menu-breakpoint) {
    &.visible {
      .menu {
        right: 0;
      }
    }
  }
}



/* -----------------------------------------------------------------------------
                                                Asides
 */
.region-sidebar-second {
  text-align: center;
}



/* -----------------------------------------------------------------------------
                                                Pre-footer
 */
.pre_footer {
  background-color: #f5f5f5;
  padding: calc(2em + 3vw) 0;
  // margin-top: 3em;
  margin-bottom: 0;
  font-size: 0.8em;

  .block-title {
    margin-top: 0;
  }
  #block-whatistedx {
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
  }
  .field--name-body > div {
    box-sizing: border-box;
    
    @media all and (min-width: 440px) {
      width: 50%;

      &:first-of-type {
        float: left;
        padding-right: 2em;
      }
      &:last-of-type {
        float: right;
        padding-left: 2em;
      }
    }
  }
}



/* -----------------------------------------------------------------------------
                                                Footer
 */
footer[role="contentinfo"] {
  @include dark-grey;
  font-size: 0.85em;
	padding-top: 20px;
	padding-bottom: 20px;

  h2 {
    @extend .h3;
    margin-top: 0;
  }
  small { // The ‘website by Touchdreams’ link.
    display: inline-block;
    margin-top: 0.8em;
  }
  p {
    font-family: $font-body;
  }
  img {
    max-width: 90px;
  }
  a {
    color: white;
  }

  .field > p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .block {
    margin-bottom: 0;
  }

  .region {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    @media all and (min-width: 700px) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    & > :not(:first-child) {
      margin-top: 1em;

      @media all and (min-width: 700px) {
        margin-top: 0;
        margin-left: 5vw;
      }
    }
  }
}
#block-txn-socialmedialinks {
  .menu {
    @include menu-horizontal;

    li:not(:first-child) {
      padding-left: 0.3em;
    }
  }
}
