{#
/**
 * @file
 * Theme override to display a block.
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div {{ attributes.addClass(classes) }}>
  <div role="presentation">
    {{ title_prefix }}
    {% if label %}
      <h2 class="block-title" {{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
