{#
/**
 * @file
 * Template for the Featured Event block for the Home page.
 *
 * Available variables:
 * - path
 * - title
 * - date
 * - venue
 * - subtitle
 * - sponsors, each having the following elements:
 *   - title
 *   - path
 *   - imageSrc
 */
#}<div class="event">
  <h2><a href="{{ path }}">{{ title }}</a></h2>
  <p class="info"><span>{{ date }}</span>  &bull;  <span>{{ venue }}</span></p>

  <p class="tagline"><!-- Tagline and theme descriptor in full sentence -->{{ subtitle }}</p>

  <a class="button" href="{{ path }}">LEARN MORE</a>
  <a class="button primary">PURCHASE TICKETS</a>
</div>

<div class="sponsors">
  <p>with support from our sponsors and partners</p>
 
  <div class="cols">
    {% for sponsor in sponsors %}
      <a href="{{ sponsor.path }}"><img src="{{ sponsor.imageSrc }}" alt="{{ sponsor.title }}"></a>
    {% endfor %}
  </div>
</div>