{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    paragraph.field_image_position ? 'image_position-' ~ paragraph.field_image_position.value,
    paragraph.field_gaps ? 'gaps-' ~ paragraph.field_gaps.value,
    paragraph.field_classes ? paragraph.field_classes.value,
  ]
%}
{% block paragraph %}
  <div {{ attributes.addClass(classes) }}
    data-type="{{ paragraph.bundle|clean_class }}">
    
    <div role="presentation">
      <div class="show">
        {{ content.field_image }}
      </div>
      <div class="tell">
        {% block content %}
          {{ content|without(
            'field_image',
            'field_classes'
          ) }}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock paragraph %}
