{#
/**
 * @file
 * Theme implementation to display an Event paragraph.
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    paragraph.field_classes ? paragraph.field_classes.value,
  ]
%}
{%
  set img_url = paragraph.field_event.entity.field_image.entity.uri.value|image_style('huge')
%}

{% block paragraph %}
  <div {{ attributes.addClass(classes) }}
    data-type="{{ paragraph.bundle|clean_class }}"
    style="background-image: url('{{ img_url }}');">
    
    <img class="image" src="{{ img_url }}">

    <div class="dark">
      <div role="presentation">
        {% block content %}

          <div class="titles">
            <h2 class="slogan">{{ paragraph.field_event.entity.field_subtitle.value }}</h2>
            <p class="title">{{ paragraph.field_event.entity.title.value }}</p>
          </div>

          <div class="description">
            {% set description = paragraph.field_event.entity.body.value|render|striptags %}
            {{ description|length > 250 ? description|slice(0, 250) ~ '...' : description }}
          </div>

          <p class="date">
            <i class="material-icons">calendar_today</i>
            {{ paragraph.field_event.entity.field_date.0|date('d F') }}
            - {{ kint(paragraph.field_event.entity.field_date.0.value) }}
            {# - {{ paragraph.field_event.entity.field_date[0]|date('c') }} #}
          </p><!-- eg. 19 December -->
          <p class="venue">
            <i class="material-icons">room</i>
            {{ paragraph.field_event.entity.field_venue.entity.title.value }}
          </p>
          
          <div>
            {% set url = path('entity.node.canonical', {'node': paragraph.field_event.entity.id}) %}
            <a class="button outlined" href="{{ url }}">More info</a>

            {% set url = paragraph.field_event.entity.field_tickets_link[0].url %}
            <span class="or">or</span> <a class="button" href="{{ url }}">Buy tickets</a>
          </div>
          {{ content|without('field_event', 'field_classes') }}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock paragraph %}
