{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    paragraph.field_image_position ? 'image_position-' ~ paragraph.field_image_position.value,
    paragraph.field_gaps ? 'gaps-' ~ paragraph.field_gaps.value,
    paragraph.field_classes ? paragraph.field_classes.value,
  ]
%}
{%
  set bg_img_url = paragraph.field_image.entity.uri.value|image_style('huge')
%}
{% block paragraph %}
  <div {{ attributes.addClass(classes) }}
    data-type="{{ paragraph.bundle|clean_class }}"
    style="background-image: url('{{ bg_img_url }}');">

    <div class="colour-shade"></div>

    <div role="presentation" class="has-carousel">
      {{ content.field_formatted_texts }}
    </div>
  </div>
{% endblock paragraph %}
