<p>Cape Town's such an incredible place, that it's hard to stand out as the best place to stay. It's nearly impossible to have the best view, or the best catered food. What we <em>can</em> offer above anyone else - the reason you'll want to stay with us - is a wonderful stay for a reasonable price.</p>

<p>We're a mid-sized guest house <strong>in beautiful Kommetjie</strong>; a txnge just around the mountain from the main part of Cape Town, and about 35mins drive away from the Cape Town International Airport.</p>

<p>Our guest house boasts <strong>2 rooms</strong> with en-suite bathrooms, as well as a private guest lounge/dining room area with kitchenette and balcony.</p>

<p>Each splendidly appointed room faces the sea, as do the luxury bathrooms with a spa bath, seperate shower and two basins. Each room is equipped with independent DSTV (South Africa's most popular TV service) and wireless ADSL.</p>

<p>We do our <strong>meals in authentic style</strong>; a full English breakfast is served in the mornings. We have our own chef on the premises . In the evenings, we do the true African braai (a traditional barbeque dinner), other traditional South African foods, and local seafood dishes. The ultimate luxury and confort.</p>

<p>We are <strong>situated </strong><strong>near</strong> to Cape Point Nature Reserve, Fish Hoek, Simons Town, Noordhoek and the world-famous Chapmans Peak Drive. The beach is literally on your doorstep and you have views across Hout Bay and Table Mountain and you have easy access to all Cape Town's attractions. Watch the whales and penguins from the nearby beaches</p>

<p>You can enjoy the serenity of a dream house away from home. We, as your hosts want to ensure that you will have a remarkably pleasureable experience. Car rentals can be arranged if needed.</p>

<p>We look forward to hosting you.</p>
