<style type="text/css" media="screen">
  form label {
    min-width: 8em;
    display: inline-block;
  }
  .content__gdprLegal {
    font-size: 0.7em;
  }
</style>

<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://tedxcapetown.us2.list-manage.com/subscribe/post?u=9f66f5cd44e38b1c60ba7942e&amp;id=9f8dfdc040" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll">
  
    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
    </label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div class="mc-field-group">
      <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
    </label>
      <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
    </div>
    <div class="mc-field-group">
      <label for="mce-LNAME">Last Name </label>
      <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
    </div>
    <div class="mc-field-group">
      <label for="mce-MMERGE5">City </label>
      <input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5">
    </div>
    <div class="mc-field-group">
      <label for="mce-MMERGE7">How did you hear about us? </label>
      <select name="MMERGE7" class="" id="mce-MMERGE7">
        <option value=""></option>
        <option value="Social Media">Social Media</option>
        <option value="Friend/ Family referral">Friend/ Family referral</option>
        <option value="Stumbled across your page">Stumbled across your page</option>
      </select>
    </div>
    <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
      <div class="content__gdpr">
          <p>Please confirm that you would like to receive emails from our team about relevant TEDx related content. </p>
          <div class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
      <label class="checkbox subfield" for="gdpr_9473"><input type="checkbox" id="gdpr_9473" name="gdpr[9473]" value="Y" class="av-checkbox "><span>Email</span> </label>
          </div>
          <p style="display:none;">You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please visit our website.</p>
      </div>
      <div class="content__gdprLegal">
          <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
      </div>
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9f66f5cd44e38b1c60ba7942e_9f8dfdc040" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </div>
</form>
</div>

<!--End mc_embed_signup-->