<div class="heading">
    Content types (full pages)
</div>
<ul>
    <li><a href="/home">Landing page</a></li>
    <li><a href="/events/tedxcapetown-2016">Event</a></li>
    <li><a href="/speakers/gokul-nair">Speaker</a></li>
    <li><a href="/team-members/chilly-chanda">Team member</a></li>
    <li><a href="/viewing-parties/zorbtec-plettenburg-bay">Viewing party</a></li>
    <li><a href="">Venue</a></li>
    <li><a href="">Performer</a></li>
    <li><a href="">Post</a></li>
    <li><a href="">Partner</a></li>
</ul>


<div class="heading">
    Colours: primary, secondary, and others
</div>
<div class="colour-scheme-bar">
  <span class="colour primary"></span>
  <span class="colour secondary"></span>
</div>


<div class="heading">
    Heading level 2, 3, and 4
</div>
<h2>Lorem ipsum dolor sit amet,&nbsp;consectetuer&nbsp;adipiscing elit</h2>
<h3>Lorem ipsum dolor sit amet,&nbsp;consectetuer&nbsp;adipiscing elit</h3>
<h4>Lorem ipsum dolor sit amet,&nbsp;consectetuer&nbsp;adipiscing elit</h4>


<div class="heading">
    Paragraph
</div>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam id neque.
Sed quis quam. Proin nec velit eget orci imperdiet pretium. Ut tempus
semper odio. Nam blandit. Nulla eros. Pellentesque tincidunt lacinia arcu.
Sed nisl lacus, commodo in, hendrerit dapibus, aliquam ac, elit.</p>


<div class="heading">
    Inline text
</div>
<div>
    Lorem <a href="#">ipsum dolor</a> sit.<br>
    Lorem <strong>ipsum dolor</strong> sit.<br>
    Lorem <em>ipsum dolor</em> sit. <br>
    Lorem <span style="text-decoration: underline;">ipsum dolor</span> sit. <br>
    Lorem <span style="text-decoration: line-through;">ipsum dolor</span> sit. <br>
    Lorem <abbr title="abbreviation">ipsum</abbr><acronym title="acronym">dolor</acronym> sit.
</div>


<div class="heading">
    Label and mark
</div>
<div>
    <span class="label">label</span>new
</div>


<div class="heading">
    Buttons
</div>
<div>
    <a class="button" href="#">Contained button</a>
    <a class="button outlined" href="#">Outlined button</a>
    <a class="button text" href="#">Text button</a>
</div>


<div class="heading">
    Material icons
</div>
<span class="material-icons">place</span>
<span class="material-icons">phone</span>
<span class="material-icons">email</span>
<span class="material-icons">menu</span>
<span class="material-icons">close</span>
<span class="material-icons">done</span>
<span class="material-icons">person</span>
<span class="material-icons">expand_more</span>
<span class="material-icons">unfold_more</span>
<span class="material-icons">unfold_less</span>
<span class="material-icons">play_arrow</span>


<div class="heading">
    Social icons
</div>
<img class="social icon" src="/themes/dreamy/images/social_icons/Facebook_logo.svg" alt="Facebook logo">
<img class="social icon" src="/themes/dreamy/images/social_icons/Instagram_logo.svg" alt="Instagram logo">
<img class="social icon" src="/themes/dreamy/images/social_icons/LinkedIn_logo.svg" alt="LinkedIn logo">
<img class="social icon" src="/themes/dreamy/images/social_icons/Twitter_logo.svg" alt="Twitter logo">


<div class="heading">
    Breadcrumb bar
</div>
<h2 class="element-invisible">You are here</h2>
<nav class="breadcrumb" role="navigation">
  <ol>
      <li>
          <a href="#0">Bread</a> ›
      </li>
      <li>
          <a href="#0">Crumbs</a> ›
      </li>
      <li>
          <a href="#0">Bar</a> ›
      </li>
  </ol>
</nav>


<div class="heading">
    Pager
</div>

<!-- Drupal 8 -->
<nav class="pager" role="navigation" aria-labelledby="pagination-heading">
    <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
    <ul class="pager__items js-pager__items">
        <li class="pager__item pager__item--first">
        <a href="?page=0" title="Go to first page">
            <span class="visually-hidden">First page</span>
            <span aria-hidden="true">« First</span>
        </a>
        </li>
        <li class="pager__item pager__item--previous">
            <a href="?page=0" title="Go to previous page" rel="prev">
            <span class="visually-hidden">Previous page</span>
            <span aria-hidden="true">‹ Previuous</span>
          </a>
        </li>
        <li class="pager__item">
            <a href="?page=0" title="Go to page 1">
            <span class="visually-hidden">
              Page
            </span>1</a>
        </li>
        <li class="pager__item is-active">
            <a href="?page=1" title="Current page">
            <span class="visually-hidden">
              Current page
            </span>2</a>
        </li>
        <li class="pager__item">
            <a href="?page=2" title="Go to page 3">
            <span class="visually-hidden">
              Page
            </span>3</a>
        </li>
        <li class="pager__item pager__item--next">
          <a href="?page=1" title="Go to next page" rel="next">
            <span class="visually-hidden">Next page</span>
            <span aria-hidden="true">Next ›</span>
          </a>
        </li>
        <li class="pager__item pager__item--last">
            <a href="?page=2" title="Go to last page">
            <span class="visually-hidden">Last page</span>
            <span aria-hidden="true">Last »</span>
          </a>
        </li>
    </ul>
</nav>


<div class="heading">
    Image
</div>
<div><img alt="100×100" src="http://placehold.it/100x100&amp;text=Image"
title="100×100"></div>


<div class="heading">
    Blockquote
</div>
<blockquote>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam id neque.
    Sed quis quam. Proin nec velit eget orci imperdiet pretium. Ut tempus
    semper odio. Nam blandit. Nulla eros. Pellentesque tincidunt lacinia
    arcu. Sed nisl lacus, commodo in, hendrerit dapibus, aliquam ac, elit.
</blockquote>


<div class="heading">
    Details & Fieldset
</div>
<details>
    <summary>Details summary</summary>
    <p>Content</p>
</details>
<fieldset>
    <legend>Fieldset legend</legend>
    <p>Content</p>
</fieldset>


<div class="heading">
    Table
</div>
<table>
    <thead>
        <tr>
            <th>Header row TH</th>
            <th>Header row TH</th>
            <th>Header row TH</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First column</td>
            <td>text</td>
            <td>text</td>
        </tr>
        <tr>
            <th colspan="3">Sub-header th</th>
        </tr>
        <tr>
            <td>text</td>
            <td>text</td>
            <td>text</td>
        </tr>
        <tr>
            <td>text</td>
            <td>text</td>
            <td>text</td>
        </tr>
    </tbody>
</table>


<div class="heading">
    List: unordered
</div>
<ul>
    <li>Fusce non urna. Nam id sem sit amet nulla risus sed leo. Etiam
    bibendum, ante vel sodales vulputate, enim ante varius ipsum, sit amet
    laoreet risus purus non lacus. Curabitur ullamcorper semper lectus.
    Quisque fermentum nulla eget nisi.</li>
    <li>sem volutpat elementum. Nunc tempus, enim iaculis nulla risus sed
    leo. Etiam bibendum, ante vel sodales vulputate, enim ante varius
    ipsum, sit amet laoreet risus purus non lacus. Curabitur ullamcorper
    semper lectus. Quisque fermentum.</li>
    <li>viverra varius, nulla libero volutpat felis, non</li>
</ul>


<div class="heading">
    List: ordered
</div>
<ol>
    <li>Fusce non urna. Nam id sem sit amet</li>
    <li>sem volutpat elementum. Nunc tempus, enim iaculis</li>
    <li>viverra varius, nulla libero volutpat felis, non</li>
</ol>


<div class="heading">
    Messages: status, warning, and error
</div>

<div role="contentinfo" aria-label="Status message" class="messages messages--status">
    <h2 class="visually-hidden">Status message</h2>Status message
</div>
<div role="contentinfo" aria-label="Warning message" class="messages messages--warning">
    <h2 class="visually-hidden">Warning message</h2>Warning message
</div>
<div role="contentinfo" aria-label="Error message" class="messages messages--error">
    <h2 class="visually-hidden">Error message</h2>Error message
</div>


<div class="heading">
    Horizontal ruled line
</div>
<hr>


<div class="heading">
    Form
</div>
<form action="#" class="grid_6" enctype="multipart/form-data" method=
"post">
    <div>
        <label for="name">Name</label> <input class="input_full" id="name"
        name="name" type="text">
    </div>
    <div>
        <label for="email">Email</label> <input class="input_full" id=
        "email" name="email" type="email">
    </div>
    <div>
        <label for="cc"><abbr title="Courtesy Copy">CC</abbr></label>
        <input id="cc" name="cc" type="checkbox" value="1"> <label for=
        "cc">Send me a copy of this email</label>
    </div>
    <div>
        <label for="tel">Phone</label> <input class="input_full" id="tel"
        name="tel" type="tel">
    </div>
    <div>
        <label for="url">URL</label> <input class="input_full" id="url"
        name="url" type="text">
    </div>
    <div>
        <label for="budget">Budget</label> <select class="input_full" id=
        "budget" name="budget">
            <option value="">
                Ballpark estimate...
            </option>
            <optgroup label="Small">
                <option value="1k_2k">
                    $1,000 to 2,000
                </option>
                <option value="2k_3k">
                    $2,000 to 3,000
                </option>
                <option value="3k_4k">
                    $3,000 to 4,000
                </option>
                <option value="4k_5k">
                    $4,000 to 5,000
                </option>
                <option value="5k_6k">
                    $5,000 to 6,000
                </option>
            </optgroup>
            <optgroup label="Medium">
                <option value="6k_7k">
                    $6,000 to 7,000
                </option>
                <option value="7k_8k">
                    $7,000 to 8,000
                </option>
                <option value="8k_9k">
                    $8,000 to 9,000
                </option>
                <option value="9k_1k0">
                    $9,000 to 10,000
                </option>
                <option value="10k_11k">
                    $10,000 to 11,000
                </option>
            </optgroup>
        </select>
    </div>
    <div>
        <label for="priority_normal">Priority</label> <input id=
        "priority_urgent" name="priority" type="radio" value="Urgent">
        <label for="priority_urgent">Urgent</label> &nbsp; &nbsp;
        <input checked="checked" id="priority_normal" name="priority" type=
        "radio" value="Normal"> <label for="priority_normal">Normal</label>
        &nbsp; &nbsp; <input id="priority_low" name="priority" type="radio"
        value="Low"> <label for="priority_low"><abbr title=
        "Request For Proposal">RFP</abbr> <span class=
        "mute">(low)</span></label>
    </div>
    <div>
        <label for="description">Project details</label>
        <textarea id="description" name="description" rows="8"></textarea>
    </div>
    <p class="clearfix">&nbsp;</p>
</form>
