{#
/**
 * @file
 * Theme override to display a single page.
 */
#}
<div class="layout-container">

  <header role="banner">
    <div role="presentation">
      {{ page.pre_header }}
      {{ page.header }}
    </div>
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.pre_footer %}
    <div class="pre_footer">
      <div role="presentation">
        {{ page.pre_footer }}
      </div>
    </div>
  {% endif %}


  {% if page.footer %}
    <footer role="contentinfo">
      <div role="presentation">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>