{#
/**
 * @file
 * Theme override to display a single page.
 */
#}
<div class="layout-container">

  <header role="banner">
    <div role="presentation">
      {{ page.pre_header }}
      {{ page.header }}
    </div>
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  {{ page.content.views_block_event_images }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="tab-container">
      <nav class="event-nav">
        <div role="presentation">
          <div class="event-title">{{ page.content.txn_page_title }}</div>

          <ul role="tablist">
            <li><a href="#overview" role="tab" aria-controls="overview" class="flat" aria-selected="true">Overview<br>&amp; Venue</a></li>

            {% if 'view-empty' not in page.content.views_block_event_speakers|render.__toString
              or 'view-empty' not in page.content.views_block_event_performers|render.__toString %}
            <li><a href="#speakers" role="tab" aria-controls="speakers" class="flat">Speakers &amp;<br>Performers</a></li>
            {% endif %}

            {% if 'view-empty' not in page.content.views_block_event_sessions|render.__toString %}
            <li><a href="#sessions" role="tab" aria-controls="sessions" class="flat">Sessions</a></li>
            {% endif %}

            {% if 'view-empty' not in page.content.views_block_event_sponsors|render.__toString %}
              <li><a href="#sponsors" role="tab" aria-controls="sponsors" class="flat">Sponsors</a></li>
            {% endif %}

            {% if 'view-empty' not in page.content.views_block_event_videos|render.__toString %}
            <li><a href="#gallery"  role="tab" aria-controls="gallery"  class="flat">Videos &amp; <br>Photos</a></li>
            {% endif %}
          </ul>

          {% if node.field_tickets_link.value %}
          <div class="link"><a href="{{ node.field_tickets_link.value[0]['uri'] }}" target="_blank" class="button">
            Buy <br>Tickets</a>
          </div>
          {% endif %}
        </div>
      </nav>

      <section id="overview" role="tabpanel" aria-hidden="false">
        <div class="layout-content">
          {# {{ kint(page.content) }} #}

          {{ page.content.txn_local_tasks }}

          {{ page.content|without(
            'txn_local_tasks',
            'txn_page_title',
            'views_block_event_speakers',
            'views_block_event_performers',
            'views_block_event_sessions',
            'views_block_event_sponsors',
            'views_block_event_videos',
            'views_block_event_images') }}
        </div>

        {% if page.sidebar %}
          <aside class="sidebar" role="complementary">
            {{ page.sidebar }}
          </aside>
        {% endif %}
      </section>

      <section id="speakers" role="tabpanel" aria-hidden="true">
        {{ page.content.views_block_event_speakers }}
        {{ page.content.views_block_event_performers }}
      </section>

      <section id="sessions" role="tabpanel" aria-hidden="true">
        {# node.field_programme #}
        {{ page.content.views_block_event_sessions }}
      </section>

      <section id="sponsors" role="tabpanel" aria-hidden="true">
        {{ page.content.views_block_event_sponsors }}
      </section>

      <section id="gallery" role="tabpanel" aria-hidden="true">
        {{ page.content.views_block_event_videos }}
        {# views_block_event_photos #}
      </section>

      <section id="tickets" role="tabpanel" aria-hidden="true">
        <p>tickets</p>
      </section>
    </div>

  </main>

</div>{# /.layout-container #}

{% if page.pre_footer %}
  <div class="pre_footer">
    <div role="presentation">
      {{ page.pre_footer }}
    </div>
  </div>
{% endif %}


{% if page.footer %}
  <footer role="contentinfo">
    <div role="presentation">
      {{ page.footer }}
    </div>
  </footer>
{% endif %}
