{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article {{ attributes.addClass(classes) }}
  data-type="{{ node.bundle|clean_class }}"
  data-view-mode="{{ view_mode|clean_class }}">

  {{ content.field_video }}
  {{ content.field_video_embed }}

  <div class="below-video">
    <footer class="meta">
      {{ content.field_speaker }}
      {{ content.field_event }}

      {% if display_submitted %}
      {{ author_picture }}
      <div {{ author_attributes.addClass('submitted') }}>
        {% trans %}By {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
      {% endif %}
    </footer>


    <div class="content">
      {{ title_prefix }}
      <h1 {{ title_attributes }}>
        {{ label }}
      </h1>
      {{ title_suffix }}

      <div {{ content_attributes.addClass('content') }}>
        {{ content|without(
          'field_video',
          'field_video_embed',
          'field_speaker',
          'field_event'
        ) }}
      </div>
    </div>
  </div>

</article>
