{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article {{ attributes.addClass(classes) }}
  data-type="{{ node.bundle|clean_class }}"
  data-view-mode="{{ view_mode|clean_class }}">

  <a href="{{ url }}" rel="bookmark" aria-hidden="true" class="block">{{ label }}</a>

  <div class="show">
    {% if content.field_image %}
      {{ content.field_image }}
    {% endif %}

    {% if display_submitted %}
      <footer class="node__meta">
        {{ author_picture }}
        <div {{ author_attributes.addClass('submitted') }}>
          {% trans %}{{ author_name }} {{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      </footer>
    {% endif %}
  </div>

  <div class="tell">
    {{ title_prefix }}
    {% if not page %}
      <h3 {{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h3>
    {% endif %}
    {{ title_suffix }}

    <div {{ content_attributes.addClass('node__content') }}>
      {{ content|without('field_image') }}
    </div>
  </div>

</article>
