{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article {{ attributes.addClass(classes) }}
  data-type="{{ node.bundle|clean_class }}"
  data-view-mode="{{ view_mode|clean_class }}">

  <div class="primary">
    <div role="presentation">
      {{ content.field_image }}
      {{ content.field_date_start }}
      {{ content.field_date_end }}
      {{ content.field_subtitle }}
      {{ content.field_venue }}
      {{ content.field_tickets_info }}
      {{ content.field_tickets_link }}
      {{ content.field_time_start }}
      {{ content.field_time_end }}
    </div>
  </div>

  <div class="secondary"{{ content_attributes.addClass('node__content') }}>
    {{ content|without(
      'field_image',
      'field_date_start',
      'field_date_end',
      'field_venue',
      'field_subtitle',
      'field_tickets_info',
      'field_tickets_link',
      'field_time_start',
      'field_time_end'
    ) }}
  </div>

</article>
