{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article {{ attributes.addClass(classes) }}
  data-type="{{ node.bundle|clean_class }}"
  data-view-mode="{{ view_mode|clean_class }}">

  <a href="{{ url }}" rel="bookmark" class="block">{{ label }}</a>

  <div class="primary">
    {{ content.field_image }}
  </div>

  <div class="secondary">
    <div class="type">{{ node.bundle }}</div>

    {{ title_prefix }}
    <h2 {{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
    {{ title_suffix }}

    <div {{ content_attributes.addClass('node__content') }}>
      {{ content|without('field_image') }}
    </div>
  </div>

</article>
