{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article {{ attributes.addClass(classes) }}
  data-type="{{ node.bundle|clean_class }}"
  data-view-mode="{{ view_mode|clean_class }}">

  {{ title_prefix }}
  {% if not page %}
    <h3 {{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>
  {% endif %}
  {{ title_suffix }}

  <div class="primary">
    {{ content.field_image }}
    <div role="presentation">
      {{ content.field_social_media_links }}
      {{ content.field_performance_title }}
      {{ content.field_event }}
    </div>
  </div>

  <div class="secondary"{{ content_attributes.addClass('node__content') }}>
    {{ content|without(
    'field_image',
    'field_event',
    'field_social_media_links',
    'field_performance_title') }}
  </div>

</article>
