{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article {{ attributes.addClass(classes) }}
  data-type="{{ node.bundle|clean_class }}"
  data-view-mode="{{ view_mode|clean_class }}">

  <div class="primary">
    <div role="presentation">

      {% if display_submitted %}
        <footer class="node__meta">
          {{ author_picture }}
          <div {{ author_attributes.addClass('submitted') }}>
            {% trans %}By {{ author_name }} on {{ date }}{% endtrans %}
            {{ metadata }}
          </div>
        </footer>
      {% endif %}

      {{ content.field_date }}
      {{ content.field_venue }}
      {{ content.field_rsvp_link }}
    </div>
  </div>

  <div class="secondary">
    <div role="presentation">
      <div {{ content_attributes.addClass('node__content') }}>
        {{ content|without(
          'field_date',
          'field_venue',
          'field_rsvp_link'
        ) }}
      </div>
    </div>
  </div>

</article>
