{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article {{ attributes.addClass(classes) }}
  data-type="{{ node.bundle|clean_class }}"
  data-view-mode="{{ view_mode|clean_class }}">

  {{ title_prefix }}
  {% if not page %}
    <h2 {{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer class="node__meta">
      {{ author_picture }}
      <div {{ author_attributes.addClass('submitted') }}>
        {% trans %}By {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div {{ content_attributes.addClass('node__content') }}>
    {{ content }}
  </div>

</article>


<style type="text/css" media="screen">
  table tr td {
    border: none;
    padding: 0;
  }
</style>

<!-- HTML for email signature -->
<table id="email-signature"
  style="border-collapse: collapse;table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;margin-left: auto;margin-right: auto;" emb-background-style="" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td>
  <table style=" border-collapse: collapse;table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;" emb-background-style="" width="500" cellspacing="0" cellpadding="0" border="0"><tbody>
    <tr><td style="vertical-align:middle;width:100px;font-family:Helvetica,Arial,sans-serif;" width="100">
      <table style="border-collapse: collapse;table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;" emb-background-style="" width="100%"><tbody><tr><td style="color:#666666;font-size:12px;height:126px;font-family:Helvetica,Arial,sans-serif;">
        <img src="{{ url('<front>')|render ~ node.field_image.entity.uri.value|image_style('medium_square') }}" style="border-radius:50%;width:100px;height:100px;">
      </td></tr></tbody></table>
    </td>
    <td style="padding-left:30px;vertical-align:middle;width:320px;font-family:Helvetica,Arial,sans-serif;" width="320"><table style="border-collapse: collapse;table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;" emb-background-style="" width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td style="color:#666666;font-size:16px;mso-line-height-rule:exactly;line-height:24px;font-family:Helvetica,Arial,sans-serif;">
      <span style="font-weight:bold;color:#DD8209;">{{ label }}
      </span>
    </td></tr>
      <tr><td style="color:#666666;font-size:12px;mso-line-height-rule:exactly;line-height:18px;padding-bottom:7px;border-bottom:solid 2px #6F6E6E;font-family:Helvetica,Arial,sans-serif;">
        <a href="{{ url }}" style="color:#666666;">
          <span style="font-weight:bold;">{{ content.field_portfolio[0] }} </span>
        | {{ content.field_personal_title[0] }}</a></td></tr>
      
      <tr><td style="color:#666666;font-size:12px;height:71px;font-family:Helvetica,Arial,sans-serif;"><a href="https://www.tedxcapetown.org/" style="border:0px;display:block;height:71px;" target="_blank"><img src="https://image.signature.email/images/5f47eff3b0003.jpg" style="display:block;border:0px;" nosend="1" alt="TEDxCapeTown" width="260" height="71" border="0"></a></td></tr>
      
      <tr><td style="color:#666666;font-size:12px;height:22px;padding-top:2px;font-family:Helvetica,Arial,sans-serif;">
        <a href="https://www.youtube.com/channel/UCo6qZC7uoL6W0AXXNj-xnQQ" target="_blank" style="display:inline-block;padding-right:4px;vertical-align:middle;"><img src="https://icon.signature.email/social/youtube-rounded-small-ff0000-FFFFFF.png" style="border:0px;display:block;" nosend="1" alt="YouTube" width="22" height="22" border="0"></a>
        <a href="https://www.facebook.com/TEDxCapeTown/" target="_blank" style="display:inline-block;padding-right:4px;vertical-align:middle;"><img src="https://icon.signature.email/social/facebook-rounded-small-4267b2-FFFFFF.png" style="border:0px;display:block;" nosend="1" alt="Facebook" width="22" height="22" border="0"></a>
        <a href="https://twitter.com/tedxcapetown" target="_blank" style="display:inline-block;padding-right:4px;vertical-align:middle;"><img src="https://icon.signature.email/social/twitter-rounded-small-1da1f3-FFFFFF.png" style="border:0px;display:block;" nosend="1" alt="Twitter" width="22" height="22" border="0"></a>
        <a href="https://www.linkedin.com/company/tedxcapetown" target="_blank" style="display:inline-block;padding-right:4px;vertical-align:middle;"><img src="https://icon.signature.email/social/linkedin-rounded-small-0077b5-FFFFFF.png" style="border:0px;display:block;" nosend="1" alt="LinkedIn" width="22" height="22" border="0"></a>
        <img src="https://icon.signature.email/icon/fa-solid-20-globeafrica-000000.png" style="margin-right:4px;border:0px;vertical-align:middle;" nosend="1" width="20" hspace="4" height="20" border="0">&nbsp;<a href="https://tedxcapetown.org" style="color:#0085d1" target="_blank">tedxcapetown.org</a>
      </td></tr>
      {# <tr><td style="color:#666666;font-size:12px;mso-line-height-rule:exactly;line-height:18px;font-family:Helvetica,Arial,sans-serif;">This message is transmitted on 100% recycled electrons. </td></tr> #}
  </tbody></table></td>
  </tr></tbody></table>
</td></tr></tbody></table>

<p class="align-center">
  <button id="copy-email-signature" class="flat">Copy HTML to clipboard</button>
</p>