{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article {{ attributes.addClass(classes) }}
  data-type="{{ node.bundle|clean_class }}"
  data-view-mode="{{ view_mode|clean_class }}"
  style="background-image: url('{{ content.field_image.0 }}');">

  <div class="dark">
    <div role="presentation">
      {% block content %}

        <div class="titles">
          {{ title_prefix }}
          <h2 class="slogan">{{ content.field_subtitle.0 }}</h2>
          {{ title_suffix }}
          <p class="title">{{ label }}</p>
        </div>

        <div class="description">
          {% set description = node.body.value|render|striptags %}
          {{ description|length > 250 ? description|slice(0, 250) ~ '...' : description }}
        </div>

        <p class="date">
          <i class="material-icons">calendar_today</i>
          {{ content.field_date.date|date('d F') }}
          {% if content.field_date.date != content.field_date_end.date %}
            - {{ content.field_date_end.date|date('d F') }}
          {% endif %}
        </p><!-- eg. 19 December -->

        <p class="venue">
          <i class="material-icons">room</i>
          {{ node.field_venue.entity.title.value }}
        </p>
          
        <div>
          <a class="button outlined" href="{{ url }}">More info</a>

          {% set url = node.field_tickets_link[0].url %}
          <span class="or">or</span> <a class="button" href="{{ url }}">Buy tickets</a>
        </div>
      {% endblock %}

    </div>
  </div>
</article>
