  /**
 * @file Forms
 */

/* -------------------------------------------------------------------------------------------
                                                        CONTENTS
  Fieldsets & legends
  Invalids and focussed
  Buttons
  Text fields
  Disableds
  Placeholders
  Tweaks for Safari + Chrome
  Other elements
 */

// Most of these styles originate from Formalize (http://formalize.me/) v.1471ba0


%pointer-target { // used by buttons, tabs, and menu links
  @media all and (min-width: $w-narrow) {
    font-size: 0.9em;
  }
  // line-height: 1;
  letter-spacing: 0.04em;
  padding: $pointable-padding;
  display: inline-block;
  text-decoration: none;
  font-weight: $pointable-font-weight;

  // ----- Doesn't include:
  // text-transform
  // color
  // background
  // borders
}

label {
  // display: block;
  // margin: 0 0 0.3em;
  // margin-bottom: 0.3em;
  font-weight: 600;
  line-height: 1.1;
  transition: font-size;
  vertical-align: middle;

  main & {
    font-size: 1.1em;
  }

  input[type="radio"] + &,
  input[type="checkbox"] + & {
    padding-left: 0.2em;
  }
}

input[type="radio"],
input[type="checkbox"] {
  margin-top: 0.3em;
}



/* -----------------------------------------------------------------------------
                                                Fieldsets & legends
*/
form {
  fieldset {
    // border-top-width: 1px;
    // margin-bottom: 3em;

    legend {
      // @extend h2;
      // margin-top: 0.3em;
      // margin-bottom: 0.3em;
    }
  }
  * + fieldset {
    margin-top: 3em;
  }
}



/* -----------------------------------------------------------------------------
                                                Invalids & focussed
*/
input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
a.button,
select,
textarea {
  // Suppress red glow that Firefox
  // adds to form fields by default.
  &:invalid {
  box-shadow: none;
  }

  // Add outline.
  &:focus {
  box-shadow: rgba($colour-highlight, 0.7) 0 0 0 3px;
  // for Opera
  z-index: 1;
  }
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
  &:focus,
  &:active {
  box-shadow: none;
  }
}



/* -----------------------------------------------------------------------------
                                                Buttons
*/
@mixin button {
  @extend %pointer-target;
  -webkit-appearance: none;
  border-radius: /* 4px */ $corner_radius-small;
  background-clip: padding-box;
  // background-image: linear-gradient(white, #ddd);
  color: white;
  border: none; // 1px solid;
  // border-color: #ddd #bbb #999 /* $colour-dividers */;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0;
  // padding: 3px 10px;
  text-shadow: /* white 0 1px 1px */ none;
  text-decoration: none;
  vertical-align: middle;
  width: auto;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;

  font-family: inherit;
  text-transform: uppercase;

  background-color: $colour-links;

  &:hover,
  &:focus {
    // background-image: linear-gradient(white, #eee 1px, #ccc);
    background-color: darken($colour-links, 15%);
    text-decoration: none;
  }

  &:active {
    background-image: linear-gradient(#ddd, #eee);
    box-shadow: inset rgba(black, 0.25) 0 1px 2px 0;
    border-color: #999 #bbb #ddd;
  }

  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }


  &.primary,
  &.button-primary {
    color: white;
    text-shadow: none; // -1px -1px 1px rgba(black, 0.4);
    $primary-button-bg-colour: scale-lightness(scale-saturation($colour-links, -50%), -20%);
    // background: $primary-button-bg-colour;
    background-image: linear-gradient(
    scale-lightness($primary-button-bg-colour, 30%),
    $primary-button-bg-colour);
    border-color:
    scale-lightness($primary-button-bg-colour, 10%)
    scale-lightness($primary-button-bg-colour, -5%)
    scale-lightness($primary-button-bg-colour, -20%);
  }

  &.flat,
  &.text,
  &.outlined {
    background: none;
    color: $colour-links;
  }
  &.flat,
  &.text {
    border: none;
    padding-left: 0.4em;
    padding-right: 0.4em;

    &:hover,
    &:focus {
      background: none;
      color: shade( $colour-links, 30% );
    }
    &.active,
    &[aria-selected="true"] { /* in Drupal, this is a link that points to the current (active) page */
      font-weight: bold;
      color: inherit;
    }
  }
  &.outlined {
    border: solid 1px $colour-links;
    color: white;
    
    &:hover,
    &:focus {
      background: $colour-links;
    }
  }

  &.large { // used in Home > .splash
    font-size: 1.4em;
    text-transform: uppercase;
    transition: all, 0.2s, ease;
    font-weight: 700;
    letter-spacing: 0.05em;

    @media only screen and (max-width: 580px) {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

button,
a.button,
a[role=tab],
input[type="reset"],
input[type="submit"],
input[type="button"] {
  @include button;
}

// Linked buttons are used to group actions that are either similar in nature or mutually exclusive.



/* -----------------------------------------------------------------------------
                                                Text fields
*/
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  box-sizing: border-box;
  background-clip: padding-box;
  // @include border-radius(0);
  background-color: $colour-field-bg;
  border: 1px solid;
  border-color: #c2c2c2; /* $colour-dividers */
  border-radius: 3px;
  color: $colour-near-black;
  outline: 0;
  margin: 0.2em 0;
  padding: $text-field-padding;
  text-align: left;
  font-size: 0.9em;
  height: auto;
  vertical-align: middle;
  // width: 28rem;
  max-width: 100%;
  transition: all, $transition-duration-regular, ease;

  &[disabled] {
  background-color: #eee;
  }
}
textarea {
  vertical-align: top;
}
.form-textarea-wrapper textarea {
  width: 28rem;
  max-width: 100%;
}



/* -----------------------------------------------------------------------------
                                                Disabled fields
*/
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  box-shadow: none;
  user-select: none;
  color: #888;
  cursor: default;
}



/* -----------------------------------------------------------------------------
                                                Placeholders
*/
// Separate rule for Firefox.
// Separate rule for IE, too.
// Cannot stack with WebKit's.
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

// Set height back to normal,
// for Opera, WebKit, and IE.
select[size="0"],
select[size="1"] {
  height: 1.8em;
}



/* -----------------------------------------------------------------------------
                                                Tweaks for Safari + Chrome
*/
@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
  background-image: none;
  padding-right: 3px;
  }

  select,
  select[size="0"],
  select[size="1"] {
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
  }

  ::-webkit-validation-bubble-message {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, black));
  border: 0;
  color: white;
  font-family: inherit;
  overflow: hidden;
  padding: 15px 15px 17px;
  text-shadow: black 0 0 1px;
  min-height: 16px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #666;
  border-color: #666;
  }
}



/* -----------------------------------------------------------------------------
                                                Other elements
*/
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;

  // Font family repeated, for Firefox.
  // font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  font-family: inherit;

  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
  border: 0;
  padding: 0;
  }
}

input[type="radio"],
input[type="checkbox"] {
  margin-top: 0.3em;
}

label {
  // display: block;
  // margin: 0 0 0.3em;
  font-weight: normal;
  // font-size: 1.1em;

  input[type="radio"] + &,
  input[type="checkbox"] + & {
  padding-left: 0.2em;
  }
}