/* -----------------------------------------------------------------------------
                                                Blocks
*/
.block {
  background-size: cover;
  background-position: 50%;
  position: relative;

  .view {
  }
  &.dark {
    &, p {
      color: $colour-on-dark-text;
      text-shadow: 0px 0px 0.3em rgba(0, 0, 0, 0.61);
    }
  }
  $featured-block-height: 90vh;
  &.featured {
    // height: 40em;
    padding-top: 0;
    padding-bottom: 4em;
    box-sizing: border-box;
    background-color: $colour-near-black;
    min-height: $featured-block-height;

    [role="presentation"] {
      max-width: 65rem;
      top: calc(#{$featured-block-height} / 2 - 4em);
    }

    p {
      font-size: 1.5em;
      max-width: 30em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;

      &:first-of-type {
        font-family: $font-headings;
        font-size: $font-size-h1;
        line-height: 1;
      }
    }

    &::after {
      content: " ";
      background-color: rgba(51, 51, 51, 0.29);
      width: 100%;
      position: absolute;
      height: 100%;
      top: 0;
    }
  }
  &.featured + .block {
    padding-top: 2em;
  }
}

.block.background-image {
  background-size: cover;
  background-position: center center;
}