/**
 * @file Colour
 */

@mixin block-colour {
  $padding: $lpage-v-padding;
  padding-top: $padding;
  padding-bottom: $padding;

  &.full-width > [role="presentation"] {
    padding-left: 6%;
    padding-right: 6%;
  }
  & > div > h2 {
    margin-top: 0;
  }
}
.colour {
  @include block-colour;
}

@mixin is-a-dark {
  color: white;

  a {
    &,
    &:visited,
    &:hover,
    &:focus {
      color: inherit;
    }
  }
  h2, h3, h4 {
    color: inherit;
  }
  input {
    color: white;
  }
}

@mixin black {
  background: black;
  @include is-a-dark;
}
@mixin very-dark {
  @include is-a-dark;
  background: $colour-near-black;
}

@mixin red {
  background: $colour-primary;
  color: white;

  a {
    &,
    &:visited,
    &:hover,
    &:focus {
      color: white;
    }
  }
  button,
  a[role=tab],
  a.button {
    background: white;
    color: $colour-primary;

    &:hover,
    &:focus {
      background: rgba(white, 0.9);
    }

    &.flat {
      background: none;
      color: inherit;

      &:hover,
      &:focus {
        color: rgba(white, 0.8);
      }
    }
  }
}

@mixin white {
  color: $colour-text;

  // Tables
  table {
    td, th {
      border-color: #bbb;
    }
  }
  .form-item {
    &.blurred {
      input,
      textarea {
        background-color: rgba( white, 0.5);
      }
      label,
      .description {
        color: tint( $colour-text, 20% );
      }
    }
  }

  // Links
  a {
    // color: $colour-links;

    &:link {}
    &:visited {
        // color: $colour-links;
    }
    &:hover,
    &:focus {
        color: tint( $colour-links, 30% );
    }
    &:active { /* a link when it is 'clicked' on */
        color: tint( $colour-links, 30% );
    }
    &.active,
    &[aria-selected="true"] {
        // color: inherit;
    }
    &.link-box {
        // color: inherit;
    }
  }
}

@mixin dark-grey {
  @include block-colour;
  background: $colour-dark-grey;
  // color: white;
  color: #cbcbcb;

  h1, h2, h3, h4 {
    color: white;
    
    a {
      color: inherit;
    }
  }
  a {
    color: $colour-red;
  }
  textarea,
  select,
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"] {
    background: #4b4b4b;
    border-color: #666;
  }
}
.dark-grey {
  @include dark-grey;
}
