/**
 * @file Components
 */

/* -----------------------------------------------------------------------------
                                                Small components
*/
@mixin full-size {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@mixin extend-width ($extra: 5%) {
  padding-left: $extra;
  padding-right: $extra;
  width: 100%;
  margin-left: -$extra;
}

.small {
  font-size: 0.9em;
}
.more-link-top-right {
  position: relative;

  .view-footer {
    position: absolute;
    top: 0.5em;
    right: 0;
  }
}
.link-or-link {
  color: #bbb;

  a {
    display: inline-block;
    padding: 0.5em 0.8em;
    font-weight: bold;
  }
}

h1, h2, h3, h4 {
  & > .noticeable {
    display: block;
    background: #10647B;
    color: white;
    padding: 0.2em 0.5em;
    border-radius: $corner-radius-small;
  }
}

@mixin bordered() {
  border: 1px solid #BABABA;
  padding: 2px;
  box-sizing: border-box;
}

@mixin visually-hidden() {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
@mixin visually-visible() {
  position: static;
  clip: none;
  overflow: visible;
  height: auto;
  width: auto;
  word-wrap: normal;
}

[aria-hidden="true"]:not(.slick-slide) {
  @include visually-hidden;
}

.images-bordered img {
  @include bordered;
}

.non-list {
  list-style: none;

  &,
  li {
    padding: 0;
    margin: 0;
  }
}
[role="tablist"] {
  @extend .non-list;
}

@mixin right() {
  margin: 1em 0 2em 4%;
  text-align: center;
  display: inline-block;
  float: right;
}

@mixin left() {
  margin: 1em 4% 2em 0;
  text-align: center;
  display: inline-block;
  float: left;
}

.left,
.align-left {
  @media all and ( min-width: $w-narrow ) {
    @include left;
  }
}
.right,
.align-right {
  @media all and ( min-width: $w-narrow ) {
    @include right;
  }
}
.align-center {
  text-align: center;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;

  .block-views .view-footer & {
    top: initial;
    bottom: calc(100% + 0.5em);
  }
}

// Used where the element is simply a page divider.
// It shouldn't look like any heading element.
.heading {
  background: $colour-secondary;
  color: white;
  @include extend-width(3%);
  margin-top: 2em;
  margin-bottom: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 0.85em;
  text-transform: uppercase;
}

a.block {
  @include full-size;
  display: block;
  clip: inherit;
  font-size: 0;
}
.field--label-inline {
  display: block;

  .field__label {}
  .field__items {
    float: none;
  }
}
@mixin tag {
  padding: 0.3em 1em;
  color: inherit;
  display: block;
  border: solid 1px #d1d1d1;
  border-radius: 1.4em;
  text-align: center;
  margin-right: 0.5em;
  margin-bottom: 0.5em;

  &:hover,
  &:focus {
    background: #d1d1d1;
  }
}
.tag[class] {
  display: inline-block;

  a {
    @include tag;
  }
}



/* -----------------------------------------------------------------------------
                                                            Webform
*/
form.webform-submission-form,
.block-webform form {
  max-width: 30em;
  margin: 1.5em auto;

  label {
    // display: block;
    margin-right: 0.5em;
    min-width: 6em;
    display: inline-block;
  }
  .form-required {
    color: inherit;
  }
  textarea {
    width: 100%;
  }
}



/* -----------------------------------------------------------------------------
                                                Carousel
*/
.carousel {}
.slick-slider,
.field--name-field-slides {
  .slick-dots {
    display: block;
    position: absolute;
    // background: $colour-red;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);

    li {
      float: left;

      &:not(:first-child) {
        margin-left: 5px;
      }
    }
    button {
      background: rgba(white, 0.5);
      border-radius: 0;
      color: transparent;
      overflow: hidden;
      width: 7px;
      height: 7px;
      padding: 0;
      border-radius: 100%;
    }
    .slick-active button {
      background: rgba(white, 1);
    }

    [aria-hidden="true"] {
      position: static;
      clip: none;
      overflow: visible;
      height: auto;
      width: auto;
      word-wrap: normal;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;

    img {
      max-width: none;
    }
  }
  .slick-prev {
    right: calc(100% + 0px);
    @media all and (min-width: 700px) {
      right: calc(100% + 20px);
    }
  }
  .slick-next {
    left: calc(100% + 0px);
    @media all and (min-width: 700px) {
      left: calc(100% + 20px);
    }
    img {
      transform: rotate(180deg);
    }
  }
}
.carousel-show4 {
  .slick-slide {
    @media all and (min-width: 500px) {
      // Because slides are floated, margins stack, not overlap
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}







/* -----------------------------------------------------------------------------
                                                Views
*/
.view {
  // When results list is displayed as a grid.
  .grid {
    h2 {
      font-family: $font-body;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.1em;
      line-height: 1.1;
      margin-top: 1em;
    }
    .field + h2 {
      margin-top: 1em;
      margin-bottom: 0.3em;
    }
  }
  // When results list is displayed as a grid.
  .rows {
    li {
      clear: both;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }
  .views-exposed-form {
    & > div {
      text-align: center;
    }
    & > .form--inline {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
// Page view
.block-system-main-block .view {
  .view-grouping-header {
    border-bottom: solid 1px $colour-red;
    font-size: $font-size-h2;
    font-weight: bold;
    text-align: center;
    margin-top: 3em;
  }
  .view-grouping-content > div > h3 {
    border-bottom: dotted 1px $colour-red;
    font-size: $font-size-h3;
    font-weight: bold;
    text-align: left;
    margin-top: 2em;
  }
  .form-actions {
    display: inline-block;
  }
}
.view-notices li {
  @include column;
}



/* -----------------------------------------------------------------------------
                                                Masonry
*/
.masonry {
  h2 {
    margin: 0;
  }

  li {
    width: 50%;
    padding: 2px;
    box-sizing: border-box;
  }

  .field--name-title {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.43);
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 1rem;
  }
}

.masonry-section {
    img {
      margin-bottom: 4px;
  }
}



/* -----------------------------------------------------------------------------
                                                Columns layout
*/
.col-layout {
  .views-row {
    @include group();

    padding-bottom : 4em;
    margin-top: 3em;

    // &:not(:last-of-type) {
    //   border-bottom: 1px solid $colour-dividers;
    // }

    .group {
      float: left;
      width: 40%;
      clear: left;
      .is-masonry-enabled .field__item {
        width: calc(50% - 2px);
        // padding: 2px;
        box-sizing: border-box;
      }
    }
    .node__content , .node__title{
      margin-left: 43%;
    }
  }

  .views-row:nth-child(2n) {
    .group {
      float: right;
    }
    .node__content , .node__title{
      margin-left: 0;
      margin-right: 43%;
    }
  }

  .field--type-string .field__item {
    padding-left : 1em;
  }

  .field--type-entity-reference .field__item {
    padding-left : 1em;
  }

  .field__label {
    font-weight: normal;
    font-size: 1.4em;
    margin-top: 1em;
  }

  @media all and (max-width: $primary-menu-breakpoint) {
    .views-row {
      .group {
        float: none;
        width: 100%;
      }
      .node__content , .node__title{
        margin-left: 0;
      }
    }
    .views-row:nth-child(2n) {
      .group {
        float: none;
      }
    }
  }
}



/* -----------------------------------------------------------------------------
                                                Banner
*/
.banner {
  max-width: none;
  // padding: 3em 3em;
  background: #3F5C35 none repeat scroll 0% 0%;
  color: white;
  text-align: center;

  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
}

#block-banner {
  clear: both;
}



/* -----------------------------------------------------------------------------
                                                Social media links
*/
.socicon-facebook:before {
  content: "\e028";
}

header[role="banner"] {
  a[href*="facebook.com"],
  a[href*="twitter.com"],
  a[href*="instagram.com"],
  a[href*="linkedin.com"],
  a[href*="youtube.com"] {
    @extend [class^="icon-"];
    display: inline-block !important;
    padding: 0.5em !important;
    overflow: hidden;
    height: 1em;
    width: 1em;
    color: transparent !important;
    font-size: 1.1em !important;
    background-color: transparent;

    &::before {
      color: white;
    }
  }
  a[href*="facebook.com"] {
    @extend .icon-facebook;
    &:hover,
    &:focus {
      background-color: $colour-facebook;
    }
  }
  a[href*="twitter.com"] {
    @extend .icon-twitter;
    &:hover,
    &:focus {
      background-color: $colour-twitter;
    }
  }
  a[href*="instagram.com"] {
    @extend .icon-instagram;
    &:hover,
    &:focus {
      background-color: $colour-instagram;
    }
  }
  a[href*="linkedin.com"] {
    @extend .icon-linkedin2;
    &:hover,
    &:focus {
      background-color: $colour-linkedin;
    }
  }
  a[href*="youtube.com"] {
    @extend .icon-youtube;
    &:hover,
    &:focus {
      background-color: $colour-youtube;
    }
  }
}
footer {
  a[href*="facebook.com"],
  a[href*="twitter.com"],
  a[href*="instagram.com"],
  a[href*="linkedin.com"],
  a[href*="youtube.com"] {
    img {
      width: 24px;
    }
  }
}



/* -----------------------------------------------------------------------------
                                                Social sharing block
*/
.block-social-media {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;

  h2,
  div.contextual,
  .social-media-sharing {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
  h2 {
    font-size: 1.1em;
  }
  .social-media-sharing {
    li + li {
      margin-top: 0;
    }
    .share {
      img {
        width: 30px;
      }
    }
  }
}



/* -----------------------------------------------------------------------------
                                                Messages
*/
/* Message states */
.ok,
%ok {
  background-color: #f8fff0;
  color: #234600;
}
.warning,
%warning {
  background-color: #fffce5;
  color: #840;
}
.error,
%error {
  background-color: #fef5f1;
  color: #8c2e0b;
}

.messages {
  max-width: 60em;
  margin: 0.6em auto;
  padding: 10px 10px 10px 50px; /* LTR */
  background-image: inline-image("message-24-ok.png");
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid #be7;
}
.messages--status {
  @extend .messages;
  @extend %ok;
}
.messages--warning {
  @extend .messages;
  @extend %warning;
  background-image: inline-image("message-24-warning.png");
  border-color: #ed5;
}
.messages--error {
  @extend .messages;
  @extend %error;
  background-image: inline-image("message-24-error.png");
  border-color: #ed541d;

}
.messages__list {
  margin: 0;
}
.messages__item {
  list-style-image: none;
}

/* Core/module installation error messages. */
.messages--error  p.error {
  color: #333;
}