/**
 * @file Forms
 * Styles for the layout of forms. See the Elements file for form element appearance styles.
 */


.resizable-textarea {
  textarea {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}


.form-checkboxes,
.form-radios {
  @include group;
}

main {
  .form-type-checkbox,
  .form-type-radio {
    @media only screen and (min-width: $w-narrow) {
      // width: 50%;
      // float: left;
      // padding-right: 1em;
      // box-sizing: border-box;
    }
    @media only screen and (min-width: $w-regular) {
      // width: 33.3%;
    }
  }
}

form.inline {
  div {
    display: inline-block;
  }
  input {
    display: block;
    width: 100%;
  }
}



/* -----------------------------------------------------------------------------
                                                Contact forms
*/
.google-map-code {
  display: none;
}
.contact-form {
  $contact-form-col-1-width: 20%;
  $contact-form-gutter: 3%;
  @include group;

  & > * {
    display: block;
    clear: both;
  }

  .form-item {
    @include group;
  }

  textarea,
  input {
    max-width: 40em;
  }

  .form-required {
    color: inherit;

    &::after {
      content: "*";
      color: #c00;
      font-weight: bold;
      position: absolute;
    }
  }

  label {
    width: $contact-form-col-1-width;
    float: left;
    text-align: right;
    margin-right: $contact-form-gutter;
  }
  label + * {
    width: 100% - $contact-form-gutter - $contact-form-col-1-width;
    float: left;
  }
  .form-actions {
    padding-left: $contact-form-col-1-width + $contact-form-gutter;
  }
}

nav.pager {
  [aria-hidden="true"] {
    @include visually-visible;
  }
  .pager__item {
    padding: 0;
  }
  li.is-active,
  li > a {
    padding: $pointable-padding;
    display: inline-block;
  }
  li > a {
    &:hover,
    &:focus {
      background-color: rgba(black, 0.07);
    }
  }
}