/**
 * @file Miscellaneous
 * Small useful utilities
 */

/**
 * Accessibility features.
 */

/* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.element-invisible,
%element-invisible {
  @include element-invisible;
}

/* Turns off the element-invisible effect. */
%element-invisible-off {
  @include element-invisible-off;
}

.element-focusable,
%element-focusable {
  @extend %element-invisible;

  &:active,
  &:focus {
    @extend %element-invisible-off;
  }
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 */
.skip-link {
  margin: 0;
  display: block;
  width: 100%;
  padding: 0.4em 0.8em;
  text-align: center;
}

/**
 * Navigation bar.
 */
#navigation {
  .block-menu .block__title,
  .block-menu-block .block__title {
    @extend %element-invisible;
  }
}

/* Breadcrumb navigation */
.breadcrumb {
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

/* The "new" or "updated" marker */
.new,
.update {
  color: #c00;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
}

/* Suggestion list */
#autocomplete .selected {
  background: #0072b9;
  color: #fff;
}