ul.menu {
  margin: 0;
}
.menu {
  @include menu-vertical;

  display: block;
  padding: 0;
  // width: 100%;
  box-sizing: border-box;
  text-align: center;

  li {
    padding: 0;
    text-transform: uppercase;
    // width: 10em;
    position: relative;

    span > a,
    span > span {
      @extend %pointer-target;
      // color: $colour-menu-links;
      font-weight: 600;
    }
    span > a {
      &.is-active {}
    }

    &.menu-item-expanded > a {
      float: left;
    }
    // &.menu-item--expanded::after
    span > button {
      margin: 0;
      border: none;
      // @include red;
      border-radius: 0;
      background: none;
      flex-grow: 0;

      padding: 0.5em 1.2em;
      vertical-align: middle;
      display: flex;
      align-items: center;

      @media all and (min-width: $primary-menu-breakpoint) {
        padding: 0.5em;
      }

      &:after {
        content: "\25bc"; // solid down-pointing triangle
      }
    }
    &:hover,
    &:focus {
      button {
        background: $colour-red;

        color: white;
      }
    }

    // Sub-menus
    ul {
      @include red;
      display: none;

      @media all and (min-width: $primary-menu-breakpoint) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 90;
        width: 12rem;
      }

      a:hover,
      a:focus {
        background: shade($colour-red, 10%);
      }

      li {
        display: block;
      }
    }
    &.is-expanded,
    &:hover,
    &:focus {
      ul {
        display: block;
      }
    }
  }
}
.block.tabs {
  @include page-max-width;
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: solid 1px lightgrey;

  ul.menu {
  display: flex;
  justify-content: center;

  & > * {
    flex: 0 1 auto;
  }
  a {
    padding-left: 1em;
    padding-right: 1em;

    &.is-active {
    border-bottom: solid 2px $colour-red;
    }
  }
  }
}