/**
 * @file Nodes & Fields
 */

/**
 * CONTENTS

  View mode: Full
  View mode: teaser
  Team members
  Articles
  Fields displayed inline
  Field type: Entity reference
 */

/* The word "Unpublished" displayed underneath the content. */
.node--unpublished {
  background: none;

  &::before {
  content: "Unpublished";
  background: #d30000; /* dark red */
  color: white;
  font-weight: bold;
  padding: 0.5em 0.9em;
  margin-bottom: 0.5em;
  display: inline-block;
  }
}

@mixin tile {
  border: solid 1px #e1e1e1;
  box-shadow: 0 0 3px rgba(black, 0.1);
  border-radius: 4px;
  max-width: 540px;
}

@mixin show-tell($left-width: 30%, $gutter: 2em) {
  .show {
    text-align: center;
  }
  .primary {
    h2,
    h3 {
      font-size: 1em;
      margin: 0;
      font-weight: bold;
    }
    .field--type-string,
    .field--type-entity-reference {
      .field__items,
      .field__item {
        word-break: break-all;
      }
    }

    [role="presentation"] {
      display: table;
      width: 100%;
    }

    .field {
      display: table-row;

      & > .field__label {
       padding-right: 1.2em;
      }
      & > .field__label,
      & > .field__items,
      & > .field__item {
        display: table-cell;
        float: none;
        padding-bottom: 0.5em;
      }
    }
  }
  .secondary,
  .tell {
    margin-top: 1.5em;
  }
  @media all and (min-width: 750px) {
    display: flex;

    .primary,
    .show,
    .secondary,
    .tell {}

    .primary,
    .show {
      flex: 0 0 auto;
      width: $left-width;
    }
    .secondary,
    .tell {
      margin-top: 0;
      flex: 1 1 auto;
      padding-left: $gutter;

      & > h2,
      & > h3 {
        margin-top: 0.1em;
      }
    }
  }
}
article .links .comment-forbidden {
  display: none;
}



/* =============================================================================
                                    View mode: Full
 */
article[data-view-mode="full"] {
  & > .node__content {
    & > .field--name-field-image,
    & > .field--name-body,
    & > .field--name-comment {
      @include page-max-width;
    }
    & > .field--name-field-image {
      text-align: center;
    }
    & > .field--name-body,
    & > .field--name-comment {
      max-width: $text-max-width;
    }
  }
  & > footer {
    @include page-max-width;
    max-width: $text-max-width;
  }
  & > a.block {
    display: none;
  }

  .node__content > footer {
    @include page-max-width;
    max-width: $text-max-width;
  }
}



/* =============================================================================
                                    View mode: Teaser
 */
article[data-view-mode="teaser"] {
  position: relative;
  text-align: center;

  &[data-type="session"] {
    a.block {
      display: none;
    }
  }
  .node-readmore {
    display: none;
  }
  .field--name-field-image img {
    border-radius: 3px;
  }
  .show {
    @include flex(0 0 auto);
  }
  .tell {
    @include flex(1 1 auto);
    padding-left: 2em;
  }
  .views-row & {
    @include group;

    .node_links {
      float: right;
    }
  }
  a:not(.block) {
    position: relative;
  }
}


article[data-view-mode="inline"] {
  h2,
  .node__content,
  .node__content * {
    display: inline;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }
}



/* =============================================================================
                                    View mode: Tile
 */
article[data-view-mode="tile"] {
  position: relative;

  h3 > a::after {
    content: "";
    @include absolute_center;
  }
}




/* =============================================================================
                                    View mode: Metadata
  Displayed as info on another content type
 */
article[data-view-mode="metadata"] {
  @include show-tell(120px, 30px);
  align-items: center;
  position: relative;

  .type {
    font-size: 0.85em;
  }
}




/* =============================================================================
                                    Multiple content types
 */

article[data-type="event"],
article[data-type="speaker"],
article[data-type="viewing-party"] {
  &[data-view-mode="full"] {
    @include show-tell(40%, 5em);
    max-width: 1200px;
  }
}
// article[data-type="page"],
// article[data-type="article"],
article[data-type="team-member"],
article[data-type="venue"] {
  &[data-view-mode="full"] {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
  }
}