/* -----------------------------------------------------------------------------
                                                Paragraphs in general
*/
.field--name-field-paragraphs {
  clear: both;
}
.paragraph {
  margin-bottom: $page-h-padding;

  &.colour,
  &.no-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  & > [role="presentation"] {
    @include page-max-width;
  }
  &.no-max-width {
    & > [role="presentation"] {
      max-width: none;
    }
  }
  &.dark,
  &.very-dark {
    @include very-dark;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    .block-title {
      margin-top: 0;
    }
  }
}

/* -----------------------------------------------------------------------------
                                                Block
*/
.paragraph[data-type="block"] {
  margin-top: $lpage-v-padding;
  margin-bottom: $lpage-v-padding;
}

/* -----------------------------------------------------------------------------
                                                Text
*/
.paragraph--type--formatted-text {
  & > [role="presentation"] {
    max-width: $text-max-width;
  }
}

/* -----------------------------------------------------------------------------
                                                Columns of text
*/
.paragraph--type--columns-of-text {
  &.gaps-1 {
    .field--name-field-formatted-texts {
      & > *:not(:first-child) {
        margin-top: $lpage-v-padding;
      }
      & > *:not(:last-child) {
        margin-bottom: $lpage-v-padding;
      }
    }
  }

  @media all and (min-width: $w-narrow) {
    .field--name-field-formatted-texts {
      display: flex;

      & > * {
        flex: 1 1 0;
      }
    }
    &.gaps-1 {
      .field--name-field-formatted-texts {
        & > *:not(:first-child) {
          margin-top: 0;
          padding-left: $gutter-comfy;
        }
        & > *:not(:last-child) {
          margin-bottom: 0;
          padding-right: $gutter-comfy;
        }
      }
    }
  }
}

/* -----------------------------------------------------------------------------
                                                Image with text
*/
.paragraph--type--image-w-text {
  @media all and (min-width: $w-narrow) {
    & > [role="presentation"] {
      display: flex;

      & > * {
        flex: 1 1 0;
      }
    }
    &.image_position-right {
      .field--name-field-formatted-text {
        padding-right: $gutter-comfy * 2; // doubled because field is half-width
      }
    }
    &.image_position-left {
      .field--name-field-formatted-text {
        padding-left: $gutter-comfy * 2; // doubled because field is half-width
      }
    }
    .field--name-field-formatted-text {
      display: flex;
      align-items: center;
    }
  }
}

/* -----------------------------------------------------------------------------
                                                Row of images
*/
.paragraph--type--row-of-images {
  &.gaps-1 {
    .field--name-field-images {
      & > *:not(:first-child) {
        padding-top: $gutter-narrow;
      }
      & > *:not(:last-child) {
        padding-bottom: $gutter-narrow;
      }
    }
  }

  @media all and (min-width: $w-narrow) {
    .field--name-field-images {
      display: flex;

      & > * {
        flex: 1 1 0;
      }
    }
    &.gaps-1 {
      .field--name-field-images {
        & > *:not(:first-child) {
          padding-top: 0;
          padding-left: $gutter-narrow;
        }
        & > *:not(:last-child) {
          padding-bottom: 0;
          padding-right: $gutter-narrow;
        }
      }
    }
  }
}

/* -----------------------------------------------------------------------------
                                                Event
*/
.paragraph[data-type="event"],
article[data-type="event"][data-view-mode="section"] {
  color: white;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;

  .dark {
    @include very-dark;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;

    @media all and (min-width: 30rem) {
      background: rgba(black, 0.8);
      width: 50%;
      min-width: 30rem;
      max-width: 100%;
    }
  }
  [role="presentation"] {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0 7vw 10vw;
    @media all and (min-width: 30rem) {
      padding-top: 10vw;
    }
    &::after {
      content: "";
      position: absolute;
      left: 100%;
      top: 50%;
      border-style: solid;
      border-width: 100% 100px 0 0;
      border-color: rgba(black, 0.5) transparent;
    }
  }
  img {
    @media all and (min-width: 30rem) {
      display: none;
    }
  }
  .titles {
    @media all and (max-width: 30rem) {
      background: rgba(0, 0, 0, 0.8);
      margin-top: -3.9em;
      padding: 0.5em 4%;
      margin-bottom: 1em;
    }
  }
  h2 {
    margin-top: 0;
    font-weight: 900;
    margin-bottom: 0.1em;
    font-size: 2.2em;

    @media all and (min-width: 30rem) {
      font-size: 3em;
    }
  }
  .title {
    font-size: 1.3em;
    font-weight: 300;
    margin: 0.5em 0;
  }

  .description {
    font-size: 0.8em;
  }
  .material-icons {
    font-size: 1em;
  }
  .button {
    padding: 0.8em 1.3em;
  }
  .or {
    margin-left: 1em;
    margin-right: 1em;
  }
}

/* -----------------------------------------------------------------------------
                                                Text with narrow block
*/
.paragraph[data-type="text-w-narrow-block"],
.block-inline-blocktext-w-block {
  overflow: hidden;

  & > [role="presentation"] {
    padding: 0;
    margin: 0;
    max-width: 100%;

    @media all and (min-width: 600px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > * {
        flex: 1 1 auto;
      }
    }
    & > .field {
      position: relative;
      padding: $lpage-v-padding 7vw;
    }
    & > .field:first-child {
      max-width: 40em;
    }
    & > .field + .field {
      border-top: solid 6px #D12D17;
      max-width: 30em;

      @media all and (min-width: 600px) {
        border-top: 0;
        border-left: solid 6px #D12D17;
      }
    }
  }
  &::after {
    content: "";
    width: 100%;
    height: 8px;
    background: hsl(0, 0%, 97.3%);
  }

  .field--name-field-formatted-text,
  .field--name-body {
    // flex-basis: 65%;
    flex-shrink: 4;

    h2:first-child {
      margin-top: 0;
    }
  }
  .field--name-field-formatted-text {
    @media all and (min-width: 600px) {
      width: 45em;
    }
  }
  .field--name-field-block {
    background: #f2f2f2;
    color: #303030;

    @media all and (min-width: 600px) {
      width: 16em;
    }
  }
}

.block[id*="reports-num-primary-ctypes"] {
  // The large numbers
  .views-field-nid {
    font-size: 2.6em;
    font-weight: 900;
  }

  .views-field-type {
    font-size: 1.6em;
    font-weight: 300;
  }

  @media all and (max-width: 600px) {
    .views-row {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

/* -----------------------------------------------------------------------------
                                                Call to Action
*/
.paragraph[data-type="call-to-action"],
.block-inline-blockcta {
  @include very-dark;

  & > [role="presentation"] {
    @include undo-page-max-width;

    @media all and (min-width: 850px) {
      padding-left: 0;
      display: flex;
      align-items: center;

      & > * {
        flex: 1 1 auto;
      }
    }
  }
  .show {
    text-align: center;
    
    @media all and (min-width: 850px) {
      max-width: 34%;
    }
  }
  .tell {
    @include page-max-width;
    padding-top: 1em;
    padding-bottom: 1em;

    @media all and (min-width: 550px) {
      display: flex;
      align-items: center;
      justify-content: space-around;

      & > * {
        flex: 0 1 auto;

        &:not(:first-child) {
          margin-left: 5vw;
        }
      }
    }
  }
  h2,
  h3 {
    &:first-child {
      margin-top: 0;
    }
  }
  p {
    font-size: 0.8em;
  }
  .field--type-text-long {
    @media all and (min-width: 850px) {
      max-width: 18em;
    }
  }
  .field--name-field-buttons {
    flex-shrink: 0;

    div {
      display: inline-block;
    }
    .field__item a {
      @include button;
      margin: 8px;
      font-size: 1em;
      padding: 1em 1.5em;
    }
  }
}

/* -----------------------------------------------------------------------------
                                                Quotations
*/
.paragraph[data-type="quotations"] {
  color: white;
  padding-top: calc(20px + 5vw);
  padding-bottom: calc(20px + 5vw);
  background-size: contain;
  position: relative;
  text-align: center;
  overflow: hidden;

  .colour-shade {
    @include full-size;
    background-color: rgba(230, 43, 30, 0.7);
    mix-blend-mode: normal;
  }
  & > [role="presentation"] {
    max-width: 40rem;
  }
  p {
    font-weight: 300;
    font-size: 18px;

    @media all and (min-width: 450px) {
      font-size: 22px;
    }
  }
  .field--name-field-formatted-texts {
    & > .field__items {
      //
    }
  }
}

/* -----------------------------------------------------------------------------
                                                Carousel
*/
.paragraph[data-type="carousel"] {
  margin-bottom: 0;

  & > [role="presentation"] {
    @include undo-page-max-width;
  }
}