article[data-type="article"] {
  &[data-view-mode="teaser"] {
    margin-top: calc(20px + 5vw);
    margin-bottom: calc(20px + 5vw);
    text-align: left;

    display: grid;
    grid-gap: calc(10px + 1vw);
    align-items: center;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

    @media all and (min-width: 900px) {
      grid-template-columns: 80px 1fr 1fr;
    }
    &::after {
      display: none;
    }
    @media all and (min-width: 750px) {
      .primary,
      .secondary,
      .tertiary {
        // display: table-cell;
        // vertical-align: top;
      }
      .primary {
        text-align: right;
        // padding-right: 2em;
        // width: 3em;
        align-self: flex-start;
      }
      .secondary {
        // width: 36%;
      }
      .tertiary {
        // padding-left: 2em;
      }
    }

    .comment-add {
     display: none;
    }
    h2, h3 {
     margin-top: 0.5em;
    }
    .submitted {
     font-size: 1.3em;
     font-weight: 900;
     line-height: 1.2;
     margin-top: 0.5em;
     left: 0.6em;
     position: absolute;
     z-index: 1;
     text-shadow: 0 0 3em black;
     color: white;

     @media all and (min-width: 750px) {
      position: static;
      z-index: 0;
      text-shadow: none;
      color: inherit;
     }
    }
  }
  &[data-view-mode="full"] {
    footer {
      // float: right;
      font-size: 0.85em;
      color: grey;
    }
    .node__content > .field--name-field-image {
      // float: left;
      // max-width: 45%;
      // margin-right: 4em;
      // margin-bottom: 1em;
    }
  }
  &[data-view-mode="tile"] {
    background: #373737;

    .show {
      position: relative;
    }
    .tell {
      padding: 20px 24px;
      border-top: solid 2px $colour-red;
    }
    .submitted {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 0.85em;
      background: rgba(black, 0.85);
      padding: 0.8em 0.9em;

      .field--name-uid {
        display: none;
      }
    }
    h3 {
      font-size: 1.1em;
      margin-top: 0;
    }
    .field--name-body {
      font-size: 0.8em;
      // border-left: solid 6px $colour-red;
      // padding-left: 1em;
    }
  }
}