$event-tabs-bp: 1000px;
.page-node-type-event {
  #block-views-block-event-images {
    // height: 75vh;
    // margin-bottom: -2em;
    // overflow: hidden;
    
    img {
      width: 100%;
    }
  }
  // The red header strip with the event title, tabs, and "buy tickets" button
  .event-nav {
    @include red;
    border-radius: 0 0 3px 3px;
    margin-bottom: 5em;
    position: relative;
    overflow: auto;

    & > [role="presentation"] {
      @include page-max-width;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      flex-wrap: wrap;

      @media all and (min-width: $event-tabs-bp) {
        flex-wrap: nowrap;
      }
    }
    @media all and (min-width: $event-tabs-bp) {
      height: 80px;
    }
    @media all and (max-width: $event-tabs-bp) {
      .event-title {
        width: 100%;
      }
    }
    .block {
      margin-bottom: 0;
    }

    .block-page-title-block > [role="presentation"] {
      @include page-max-width-remove;
    }
    h1 {
      display: inline-block;
      margin: 0 2em 0 0;
      font-size: 1.2em;
      font-weight: bold;
      margin-top: 1em;
      margin-bottom: 1em;

      @media all and (min-width: 600px) {
        font-size: 1.5em;
      }
    }

    [role="tablist"] {
      display: flex;
      align-items: stretch;
      height: 100%;
      flex-wrap: wrap;

      @media all and (min-width: $event-tabs-bp) {
        flex-wrap: nowrap;
      }
      li {
        flex: 1 1 auto;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          justify-content: flex-start;
          flex: 8 0 auto;
          text-align: left;
        }
        a {
          height: 100%;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          // text-align: center;
          justify-content: center;
          padding: 1em;

          &.button {
            // height: auto;
          }
        }
      }
    }
    a[role="tab"],
    a.button {
      text-align: center;
      margin: 0;
    }
    a[role="tab"] {
      padding-top: 1.5em;
      padding-bottom: 1.1em;

      border-style: solid;
      border-width: 4px 0;
      border-color: transparent transparent rgba(white, 0);
      border-radius: 0;

      &:hover,
      &:focus {
        border-bottom-color: rgba(white, 0.4);
      }
      &[aria-selected="true"] {
        border-bottom-color: rgba(white, 0.8);
      }
    }
    .link a.button {
      margin: 0.4em;
      padding: 1em 1.4em;
    }
  }

  section {
    @include page-max-width;
  }
}
[data-type="event"] {
  &[data-view-mode="teaser"] {
    h2 {
      font-size: 1.3em;
      margin-bottom: 0.5em;
    }
  }
  &[data-view-mode="metadata"] {
    .field--name-field-image img {
      width: 120px;
    }
  }
  &[data-view-mode="full"] {}
}