/* -----------------------------------------------------------------------------
                                                Pages
 */
article[data-type="page"] {
  &[data-view-mode="full"] {}
}



/* -----------------------------------------------------------------------------
                                                Speakers
 */
article[data-type="speaker"] {
  &[data-view-mode="teaser"] {}

  .field-name-field-image img {
    border-radius: 3%;
  }

  &[data-view-mode="full"] {
   @include page-max-width;
    max-width: 1200px;

    .field + .field {
      margin-top: 1em;
    }
  }

  &[data-view-mode="metadata"] {
   .field--name-field-image img {
    width: 120px;
    border-radius: 50%;
   }
  }
}
.page-node-type-speaker {
  [id="block-views-block-speaker-video"] {
    text-align: center;

    .views-row {
      display: inline-block;
    }
  }
}



/* -----------------------------------------------------------------------------
                                                Performers
 */
article[data-type="performer"] {
  &[data-view-mode="teaser"] {}
  &[data-view-mode="full"] {
   .field {
    @include page-max-width;
    max-width: 580px;
    clear: both;
   }
  }
}



/* -----------------------------------------------------------------------------
                                                Team members
 */
article[data-type="team-member"] {
  &[data-view-mode="teaser"] {
  h3 {
    font-size: 1.1em;
    margin-top: 14px;
    line-height: 1.1;
    margin-bottom: 0.3em;
  }
  .field--name-field-portfolio {
    font-size: 0.9em;
  }
  }
  .field-name-field-image img {
    border-radius: 8%;
  }
  &[data-view-mode="full"] {
    .field--name-field-image {
      float: left;
      max-width: 45%;
      margin-right: 4em;
      margin-bottom: 1em;
    }
    .field--name-field-bio {
     clear: both;
    }
  }
}



/* -----------------------------------------------------------------------------
                                                Sessions (part of an event)
 */
article[data-type="session"] {
  &[data-view-mode="teaser"] {
    text-align: left;
  }
}



/* -----------------------------------------------------------------------------
                                                Venues
 */
article[data-type="venue"] {
  &[data-view-mode="teaser"] {
  }
}



/* -----------------------------------------------------------------------------
                                                Viewing parties
 */
article[data-type="viewing-party"] {
  &[data-view-mode="full"] {
   @include page-max-width;

   .field--name-field-programme {
    .field__label {
      font-size: $font-size-h2;
      text-transform: uppercase;
    }
   }
  }
}



/* -----------------------------------------------------------------------------
                                                Carousel slides
 */
article[data-type="slide"][data-view-mode="teaser"] {
  margin: 0;

  div {
    width: 100%;
  }
  .field_image.background-image {
    background-size: cover;
    background-position: center center;
  }
  .field--name-field-image img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    object-position: center;
  }
}