article[data-type="sponsor"] {
  &[data-view-mode="full"] {
  .field {
    @include page-max-width;
    max-width: 580px;
    clear: both;
  }
  .field--name-field-image {
    margin-bottom: 1em;
  }
  .field--name-field-sponsorship-level,
  .field--name-field-sponsorship-type,
  .field--name-field-sponsorship-type-text {
    color: #808080;
    font-weight: 600;
    text-align: center;
  }
  .field--name-field-sponsorship-level {
    .field__item::after {
     content: " sponsor";
    }
  }
  .field--name-field-sponsorship-type,
  .field--name-field-sponsorship-type-text {
    margin-bottom: 1.5em;
  }
  .field--name-body {
    margin-top: 1.6em;
  }
  }
}
li[class*="sponsor"] {
  margin: 1em;
  display: inline-block;

  &.sponsorship-level-Headline {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media all and (min-width: 750px) {
    width: 100%;

    & > * {
     width: 700px;
     display: block;
     margin: 0 auto;
    }
  }
  }
  &.sponsorship-level-Primary {
  @media all and (min-width: 500px) {
    width: 450px;

  }
  }
  &.sponsorship-level-Secondary {
  @media all and (min-width: 500px) {
    width: 260px;
  }
  }
  &.sponsorship-level-Tertiary {
  @media all and (min-width: 500px) {
    width: 150px;
  }
  .views-field-field-sponsorship-type {
    font-size: 0.8em;
  }
  }
}
.view-sponsors,
.view-ongoing-sponsors {
  text-align: center;
  margin-bottom: 100px;

  h3 {
  text-align: center;
  font-size: 0em;
  colour: transparent;
  border-bottom: solid 1px #dedede;
  padding: 0.7em;
  margin-top: 4em;
  }
  .views-field-field-image {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
}