article[data-type="video"] {
  &[data-view-mode="full"] {
    @include page-max-width;

    .below-video {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 80px;

      & > * {
       flex: 0 1 auto;
      }
      & > :not(:first-child) {
       margin-left: 60px;
      }
    }
    footer {
      width: 360px;

      h2 {
       font-size: 1.2em;
      }
      .field ~ .field {
       border-top: solid 1px #d1d1d1; // pale grey
       margin-top: 40px;
       padding-top: 40px;
      }
    }
    h1 {
      font-size: 1.9em;
      text-align: left;
      margin-top: 0;
    }
    .content {
      width: 560px; // 40em;
    }
  }

  &[data-view-mode="teaser"] {
    @include tile;

    & > .content {
      padding: 1em;
      box-sizing: border-box;
    }
    h2, h3 {
      font-size: 0.9em;
      margin-top: 0;
      // min-height: 2.6em;
    }
    .field--name-field-image img {
      border-radius: 3px 3px 0 0;
    }
    .field--name-field-speaker {
      a {
        color: inherit;
        font-size: 0.85em;
      }
    }
  }
}