// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// This is a modern replacement for 'clearfix'
@mixin group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absolute_center {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}


// Flexbox

@mixin display-flex() {
  display:  -webkit-box;
  display:     -moz-box;
  display:  -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
          -ms-flex: $values;
              flex: $values;
}

@mixin align-items($value) {
    -webkit-box-align: $value;
   -webkit-flex-align: $value;
       -ms-flex-align: $value;
  -webkit-align-items: $value;
          align-items: $value;
}



// Navigation
@mixin menu-vertical {
  li {
    display: block;
    float: none;

    a {
      display: flex;
      padding: ($pointable-padding / 2) $pointable-padding;
      text-align: left;
    }
  }
}
@mixin menu-horizontal {
  li {
    display: block;
    float: left;

    a {
      padding: $pointable-padding;
      text-align: center;
    }
  }
}


@mixin visually-visible {
  display: block;
}
